@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --title-font: "Montserrat", sans-serif;
  --scnd-font: "Raleway", sans-serif;
}
.titlebar {
  font-size: 3rem;
  font-weight: 600;
}
.navlogo {
  height: 50px;
  position: relative;
  margin-right: 20px;
}

.navbar {
  margin-top: 15px;
  font-family: var(--title-font);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px black solid;
  align-items: center;
}
.logos {
  margin-left: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: black;
}
.navul {
  width: 500px;
  font-size: 20px;
  color: black;
  display: flex;
  font-family: var(--scnd-font);
  height: 20px;
  justify-content: space-evenly;
}

#cartlogo {
  height: 40px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  position: relative;
  bottom: 15px;
}

/*~~~~~~~~~~~~~content 1~~~~~~~~~~~~~~~~~~~*/

.content-container {
  display: flex;
  flex-direction: row;
  margin: 131px 0px 0px 20px;
}

.content-container .right-side {
  padding: 0px 0px 0px 40px;
  margin-top: 7%;
  max-width: 700px;
  z-index: -1;
}

.content-container img {
  width: 493px;
  height: 888px;
}

.content-container .right-side h1 {
  padding-bottom: 20px;
  font-size: 50px;
  font-family: var(--title-font);
  position: relative;
}

.content-container .right-side h1::after {
  content: "";
  border: solid;
  border-color: red;
  border-radius: 0px 100px 100px 0px;
  width: 15%;
  position: absolute;
  display: block;
  margin-top: 1px;
}

.content-container .right-side p {
  font-size: 25px;
  font-family: var(--scnd-font);
}

.content-container .right-side .paragraf-top {
  text-align: center;
  margin-top: 50px;
}

.content-container .right-side .paragraf-bottom {
  max-width: 350px;
  text-align: justify;
  position: relative;
  left: 60px;
  margin-top: 17px;
}

.content-container .right-side .paragraf-bottom #p1 {
  font-size: 17px;
}

.content-container .right-side .paragraf-bottom #p2 {
  font-size: 17px;
  position: relative;
  left: 160px;
  padding-top: 20px;
}

.card {
  height: 1000px;
  margin-inline: 5%;
  font-family: var(--scnd-font);
}

.card h1 {
  margin: 93px 0px 47px 20px;
  font-family: var(--title-font);
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 20px;
}

.card .card-container img {
  width: 200px;
  align-self: center;
  border: solid black;
  border-radius: 50px 0px 50px 0px;
}
.card-item {
  font-size: max(16px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em;
  width: 20%;
  height: max(500px);
  border: 5px solid black;
  border-radius: 25px 0px 25px 0px;
}

.cart-img {
  border-radius: 20px;
  border: 2px black solid;
  width: 100px;
  height: 75px;
}
.minicart-items {
  left: 65%;
  top: 15%;
  visibility: hidden;
  background-color: #eeecec;
  width: 35%;
  padding-top: 0;
  border-radius: 25px;
  border: 5px black solid;
  font-family: var(--scnd-font);
  display: block;
  position: absolute;
  padding: 2rem;
}
.minicart-items.show {
  visibility: visible;
  animation: Fadein 2s both;
}
.minicart-items > :not(:last-child) {
  border-bottom: 2px black solid;
  margin: 0em 0em 2em 0em;
}

@keyframes Fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cart-row {
  font-size: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-column {
  margin-right: 2rem;
  align-items: center;
}
.minicart-footer > * {
  margin: 2em 0em 2em 0em;
}
.Tprice {
  display: flex;
  justify-content: space-between;
}
.Fbuttons > * {
  margin-inline: 2rem;
}
.Fbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whab {
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 12px 26px 12px 26px;
  background-color: black;
}

#cartlogo.cow {
  transition: 500ms all ease-in-out;
  padding-inline: 10px;
  padding-inline-end: 11px;
  height: 43px;
  border: black 2px solid;
}
