@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --title-font: "Montserrat", sans-serif;
  --scnd-font: "Raleway", sans-serif;
}

.content-section {
  margin: 1em;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.titlebar {
  font-size: 3rem;
  font-weight: 600;
}
.navlogo {
  height: 50px;
  position: relative;
  margin-right: 20px;
}

.navbar {
  margin-top: 15px;
  font-family: var(--title-font);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px black solid;
  align-items: center;
}
.logos {
  margin-left: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: black;
}
.navul {
  width: 500px;
  font-size: 20px;
  color: black;
  display: flex;
  font-family: var(--scnd-font);
  justify-content: space-evenly;
}
